$bg-color: #abd1c6;
$button-background-color: #f9bc60;
$white: #fffffe;
$gray: #e8e4e6;
$accentuate: #004643;
$red: #e55039;

$one: #e55039;
$two: #4a69bd;
$three: #78e08f;
$four: #f6b93b;
$five: #60a3bc;
$six: #a55eea;
$seven: #3c40c6;
$eight: #ffa801;
$cadran : #212121;